/*Shreejan CSS*/
/*begin of about CSS*/
.about-img img {
    width: 100%;
    height: 100vh;
    display: flex;
    object-fit: contain;
    /*make img cover*/
}

.about-section {
    background: url(../images/pexels-roman-odintsov-5847099.jpg) no-repeat left;
    background-size: 55%;
    background-color: #F2F2F2;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    /*text box width*/
    float: right;
    background-color: #F2F2F2;
    padding: 100px;
    /*about text box padding space*/
}

.inner-container h1 {
    margin-bottom: 30px;
    text-align: center;
}

.inner-container p {
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.inner-container a {
    text-decoration: none;
    color: #F2F2F2;
}

.contact-btn {
    color: white;
}

.contact-btn:hover {
    color: #656b79;
}

.team-container h1 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

.team-container {
    background-color: #F2F2F2;
}

.team {
    display: flex;
    /* make box side by side */
    text-align: center;
    width: auto;
    justify-content: center;
    /*put box in middle*/
    flex-wrap: wrap;
}

.team-member {
    margin: 100px;
    width: 300px;
    /*width of box*/
    padding: 20px;
    /*give space in box*/
    line-height: 2;
    position: relative;
    background-color: aliceblue;
    border-radius: 6px;
}

.team-member img {}

.team-member h3 {
    margin-top: 50px;
}

.team-member p {
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    padding: 0 20px;
}

.team-member img {
    width: 40%;
    height: 40%;
    margin-top: 15px;
}

@media screen and (max-width: 1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }
}