/*Shreejan CSS*/
/*begin of about CSS*/
.about-img img {
    width: 100%;
    height: 100vh;
    display: flex;
    object-fit: cover;
    /*make img cover*/
    margin-top: 80px;
}
/**/

.about-section {
    background: url(../images/pexels-roman-odintsov-5847099.jpg) no-repeat left;
    background-size: 55%;
    background-color: #F2F2F2;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    /*text box width*/
    float: right;
    background-color: #F2F2F2;
    padding: 100px;
    /*about text box padding space*/
    border-radius: 10px;
}

.inner-container h1 {
    margin-bottom: 30px;
    text-align: center;
    /*color: #2B2B2B;
    font-size: 30px;
    font-weight: 900;*/
}

.inner-container p {
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    /*color: #2B2B2B;
    font-size: 13px;*/
}
/*
.inner-container a {
    text-decoration: none;
    color: #2B2B2B;
    transition: ease-in-out;
}


.contact-btn{
    color: white;
    border-color: #2B2B2B;
}*/

a:hover {
    color: white;
}

.inner-container .btn{
    background-color:#F2F2F2;
    color: #2B2B2B;
    border-color: #2B2B2B;
}

.inner-container .btn:hover{
    background-color: #B53471;
    color: #e1ddde;
}

.team-container h1{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
    /*color: #2B2B2B;
    font-size: 30px;
    font-weight: 900;*/
}

.team-container {
    background-color: #F2F2F2;
}

.team {
    display: flex; /* make box side by side */
    text-align: center;
    width: auto;
    justify-content: center; /*put box in middle*/
    flex-wrap: wrap; /*fix if the content is overflow outside the box*/
}

.team-member {
    margin: 100px;
    width: 300px; /*width of box*/
    padding: 20px; /*give space in box*/
    line-height: 2;
    position: relative;
    background-color: #E8E8E8;
    border-radius: 10px;
}

.team-member:hover{
    box-shadow: 0 0 20px;
    transition: ease-in-out;
}

.team-member h3 {
    margin-top: 50px;
    color: #2B2B2B;
    /*font-size: 20px;
    font-weight: 900;*/
}

.role{
    font-size: 12px;
    text-transform: uppercase;
    color: #b7b7b7;
    font-style: italic;
    font-weight: bold;
}

.team-member img {
    width: 40%;
    height: 40%;
    margin-top: 15px;
}

@media screen and (max-width: 1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }
}
