
.p {
  color: #b3b3b3;
  font-weight: 300;
    background-color: green;
}
.h1 {
  color: #3c3c3c;
  font-weight: 300;

}

    .bi-caret-left {color: #3c3c3c;}
    .bi-caret-right {color: #3c3c3c;}
.carouselExampleCaptions{
    padding-top: 150px;
}


.carousel-item {
    height: 80vh;
    width: auto;
    position: center;
    text-align: center;
    float: none;
    text: bottom
}
.caption {
    text-align: center;
    bottom: 0px;
    top: auto;
    text: bottom
}
.carousel-caption {
    bottom: auto;
    text: bottom;


}
 .d-block {
     position: absolute;
     margin: 25px 50px 75px 100px;
     bottom: 0;
     top: auto;
     text: bottom
 }

 .image{
     max-width: 100%;
     max-height: 100%;
     object-fit: contain;
     margin: 25px 50px 25px 100px;
     padding-top: 100px;
     width: 50%;
 }

 footer {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
     z-index: 9999;
     padding: 0.5% 2%;
 }
 .transparant{
     background-color: #3c3c3cbb;
     padding: 1px;
     width: 50%;
     font-weight: 300;
 }

 #container{
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }