:root {
  --clr-primary-dark: black;
  --clr-primary-light:white;
}

body {
  background-color:var(--clr-primary-light);
}

.container {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
}

h5 {
  margin-bottom: 1rem;
}

.btn {
  color: var(--clr-primary-dark);
}

.p-hours{
    margin-bottom: 2px;
}

label{
    font-size: 1.2rem;
}


.form-control:focus {
    box-shadow:0 0 0 0.1rem var(--clr-primary-dark);
    border-color: var(--clr-primary-dark);
 }

.circle{
    border-radius: 40%;
    height: 80%;
    max-width: 100%;
}

.my-custom-row-1 {
  background-color: var(--clr-primary-light);
  height: 400px;
  color: var(--clr-primary-dark);
  font-size: 1.2rem;
}

.my-custom-row-2 {
  background-color: var(--clr-primary-light);
  height: 500px;
  color: var(--clr-primary-dark);
}

.my-custom-row-3 {
    background-color: var(--clr-primary-light);
    color: var(--clr-primary-dark);
  }

#map {
  position: relative;
  height: 80%;
  width: 100%;
}

.icon {
  height: 7rem;
}

.row-2-title-location{
  margin-top: 0.5rem;
}

.row-2-title-message{
  margin-top: 1rem;
}


@media (max-width:1100px){
  .my-custom-row-1 {
    background-color: var(--clr-primary-light);
    height: 400px;
    color: var(--clr-primary-dark);
    font-size: 1rem;
  }



  .icon {
    height: 5rem;
  }
}



@media (max-width: 768px) {
  .my-custom-row-1 {
    background-color: var(--clr-primary-light);
    height: 1000px;
  }

  .my-custom-row-2 {
    background-color: var(--clr-primary-light);
    height: 820px;
  }

  label{
    font-size: 1rem;
  }

  .icon {
    margin-top: 1.5rem;
    height: 3rem;
  }

  .row-2-title-location{
    margin-top: 2rem;
  }

  .row-2-title-message{
    margin-top: 5rem;
  }

  .circle{
    border-radius: 50%;
    height: 80%;
    width: auto;
    max-width: 100%;
}

}


