:root {
  --clr-primary-dark: #3c3c3c;
  --clr-primary-light: #e1ddde;
}

body {
  background-color:var(--clr-primary-light);
}

.container {
  background-color: var(--clr-primary-dark);
  color: var(--clr-primary-light);
}

h5 {
  margin-bottom: 1rem;
}

.btn {
  color: var(--clr-primary-dark);
}

.p-hours{
    margin-bottom: 2px;
}

label{
    font-size: 1.2rem;
}


.form-control:focus {
    box-shadow:0 0 0 0.1rem var(--clr-primary-dark);
    border-color: var(--clr-primary-dark);
 }

.circle{
    border-radius: 40%;
    height: 80%;
    max-width: 100%;
}

.my-custom-row-1 {
  background-color: var(--clr-primary-light);
  height: 400px;
  color: var(--clr-primary-dark);
  font-size: 1.2rem;
}

.my-custom-row-2 {
  background-color: var(--clr-primary-light);
  height: 500px;
  color: var(--clr-primary-dark);
}

.my-custom-row-3 {
    background-color: var(--clr-primary-light);
    color: var(--clr-primary-dark);
  }

#map {
  position: relative;
  height: 90%;
  width: 100%;
}

.icon {
  height: 7rem;
}




@media (max-width: 768px) {
  .my-custom-row-1 {
    background-color: var(--clr-primary-light);
    height: 1000px;
  }

  .my-custom-row-2 {
    background-color: var(--clr-primary-light);
    height: 600px;
  }

  .icon {
    height: 3rem;
  }

}


